 .about-container {
  padding: 50px;
  background-color: #f9f9f9;
  background-image: photo_2025-01-02_11-08-38;
  font-family: Arial, sans-serif;
  padding: 100px;
}
.about-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.about-container .h2{
  font-weight: bolder;
  color: #000066;

}
.about-container p {
  font-size: 1rem;
  color: #000;
  margin: 20px 0;
}
.about-container .img{
  margin-right: 15px;
  margin-left: 15px;
}
#about-us {
  background-color: #f4f4f4;
  padding: 40px 0;
}
 .about-container .h2{
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  background-size: cover;
} 
.abt-us{
    padding-bottom: 20px;
}
.text{
    background-image: url(images/blue_toned_image\ \(1\).webp);
    padding: 200px;
    color:#f4f4f4;

}
.image{
    top: 0;
    left: 0;
    margin-left: 50px;
    display: flex;
    
}

