#about-us {
  padding: 50px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}
.about-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.about-container .h2{
  font-weight: bolder;
  color: #000066;

}
.about-container p {
  font-size: 1rem;
  color: #000066;
  margin: 20px 0;
}
