/* General styling */
body {
    font-family: arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    color: #000066;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* HEADER STYLING */
.header {
    max-height: 80px;
    display: flex;
    justify-content: left;
    align-items: end;
    padding: 5px;
    width: auto;
    position: relative;
    top: 0;
    right: 0;
    background: linear-gradient(175deg, #000066, #ff6633);
    
}

/* LOGO STYLING */
.logo {
    height: 170px;
    padding-bottom: 20px;
    margin: -15px;
    padding-left: 60px;
    margin-bottom: -65px;

}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
}


/* NAVIGATION STYLING */

nav ul {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 35px;
    padding: 18px;
    margin-left: 200px;
}

nav {
    padding-left: 35%;
    
}
nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3 ease;
    font-size: 1rem;
    font-family: 'Calibri';
    font-weight: 700;
}

nav ul li a:hover {
    color: #000066;
}


/* HERO STYLING */
.contact-container {
    padding: 50px;
    background-image: url(images/hero-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 80vh;
    width: auto;
}

.contact-1-container {
    margin-top: 10%;
    font-family: Impact;
    font-size: 6rem;
    
}

.contact-2-container{
    font-size: 0.9rem;
}

.contact-container p{
    margin-top: -70px;
    margin-bottom: -10px;
}








/* FOOTER STYLING */

.footer{
    display: flex;
    text-align: center;
    justify-content: left;
    align-items: end;
    padding: 0px;
    height: 250px;
    background: linear-gradient(175deg, #000066, #ff6633);
}
    

.footer-column {
    color: white;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
}
.footer-column1 {
    color: white;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}

.footer-column2 {
    color: white;
    padding-left: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    line-height: 1;
}

.footer-bottom {
    text-align: center;
    padding: 15px;
    font-size: 12px;
    background-color: #F7F7F7;
    height: 15px;
}

ul {
    list-style: none;
    padding-left: 0px;
    line-height: 1.5;
}

ul li a {
    color: white;
    text-decoration: none;
    
}

.footer-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 80%; 
    padding: 20px;
    margin: -15px;
    padding-left: 60px;
    
    
}

.footer-column h3 {
    text-align: center;
}
