/* General styling */
body {
    font-family: arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    color: #000066;
}

html {
    scroll-behavior: smooth;
}

/* HEADER STYLING */
.header {
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: end;
    padding: 5px;
    width: 100%;
    background: linear-gradient(175deg, #000066, #ff6633);
    
}

/* LOGO STYLING */
.logo {
    height: 170px;
    padding-bottom: 20px;
    margin: -15px;
    padding-left: 60px;
    margin-bottom: -65px;

}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
}

/* NAVIGATION STYLING */

nav ul {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 35px;
    padding: 18px;
    margin-left: 200px;
}

nav {
    padding-left: 35%;
    
}
nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3 ease;
    font-size: 1rem;
    font-family: 'Calibri';
    font-weight: 700;
}

nav ul li a:hover {
    color: #000066;
}

/* HERO STYLING */
.hero-content-container {
    padding: 50px;
    background-image: url(images/hero-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}



/*WHO WE ARE STYLING*/
.who-we-are-container {
    background-color: #f7f7f7;
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    flex-wrap: wrap; 
    width: 80%; 
    padding: 20px;
    width: 100%;
}

.who-we-are-container-content {
    text-align: center;
    margin: 20px;
    font-size: 1.5rem;
}

/* OUR SERVI STYLING */
.our-services-container{
    text-align: center;
    margin: 0px;
    padding-top: 20px;
    width: 100%;
}

.our-services-flex-container {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;    

}

.flex-item h3 {
    font-weight: 800;
}

.flex-item p {
    color: black;
    font-size: 1.1rem;
    line-height: 1.8;
}

.flex-item1 h3 {
    font-weight: 800;
    line-height: none;
}

.flex-item1 p {
    color: black;
    font-size: 1.1rem;
    line-height: 1.8;
}

.flex-item {
    background-color: #f7f7f7;
    height: 250px;
    width: 250px;
    padding: 30px;
    margin: 0px;
    text-align: center;
}

.flex-item1 {
    background: linear-gradient(150deg, #FCDCD2, white);
    height: 250px;
    width: 250px;
    padding: 30px;
    margin: 0px;
    text-align: center;
}

/* FOOTER STYLING */

.footer{
    display: flex;
    text-align: center;
    justify-content: left;
    align-items: end;
    padding: 0px;
    background: linear-gradient(175deg, #000066, #ff6633);
}
    

.footer-column {
    color: white;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-bottom {
    text-align: center;
}

ul {
    list-style: none;
}

ul li a {
    color: white;
}

.footer-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 80%; 
    padding: 20px;
    
    margin: -15px;
    padding-left: 60px;
    
    
}

.footer-column {
    text-align: justify;
}

.footer-column h3 {
    text-align: center;
}
